.App {
  background-color: grey;
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: #000;
  text-align: center;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #FFE81F, 0 0 20px #FFE81F, 0 0 25px #FFE81F, 0 0 30px #FFE81F, 0 0 10px #FFE81F;
}

.App card {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.App card a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 10px #FFE81F, 0 0 10px #FFE81F, 0 0 10px #FFE81F, 0 0 10px #FFE81F, 0 0 10px #FFE81F;
  padding: 40px;
  border-radius: 5px;
  min-height: 130px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 30px;
}

